body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    transition: background-color 0.3s, color 0.3s;
}
.subtitle {
    font-size: 28px;
    font-weight: bold;
}
pre.sub-content {
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}
footer {
    margin-top: 30px;
}

.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}
.dark-mode pre.sub-content {
    background-color: #1e1e1e;
    color: #cfcfcf;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
